<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>

    <link rel="stylesheet" href="../../assets/css/adm.css">
</head>
<body>
    <h1>USUARIO DE MIERDA EN EL PICAPOOLLO</h1>
    
    


    <div class="navbar">
        <div class="logo">
            <img src="https://cdn-icons-png.flaticon.com/512/616/616445.png" alt="Logo">
        </div>
        <div class="nav-buttons">
            <a href="#">Inicio</a>
            <a href="users.html">Users</a>
            <a href="#">Contacto</a>
            <form action="../../logout.php" method="post">
                <button type="submit">Cerrar Sesión</button>
            </form>
        </div>
    </div>
</body>
</html>