<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>

    <link rel="stylesheet" href="../../assets/css/adm.css">

    <link rel="icon" type="image/svg+xml" href="https://cdn-icons-png.flaticon.com/512/3170/3170733.png" />
</head>
<body>
    <h1>USUARIO DE MIERDA EN EL PICAPOOLLO</h1>
    
    


    <div class="navbar">
        <div class="logo">
            <img src="https://cdn-icons-png.flaticon.com/512/616/616445.png" alt="Logo">
        </div>
        <div class="nav-buttons">
            <a href="#">Inicio</a>
            <a href="users.html">Users</a>
            <a href="#">Contacto</a>
            <form action="../../logout.php" method="post">
                <button type="submit">Cerrar Sesión</button>
            </form>
        </div>
    </div>


    <h1>Bienvenido a nuestro restaurante</h1>
    <p>Por favor, seleccione una opción:</p>
    <ul>
        <li><a href="mesas2.php">Visualizar Mesas</a></li>
        <li><a href="reservar.php">Hacer Reserva</a></li>
    </ul>
</body>
</html>