<h1>ME TA VIENDO EL ADMIN</h1>

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Restaurante</title>
    <!-- Aquí puedes incluir CSS si lo deseas -->
    <style>
        .mesa {
            display: inline-block;
            border: 1px solid black;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>


<link rel="stylesheet" href="../../assets/css/adm.css">

<body>
    <div class="navbar">
        <div class="logo">
            <img src="https://cdn-icons-png.flaticon.com/512/616/616445.png" alt="Logo">
        </div>
        <div class="nav-buttons">
            <a href="#">Inicio</a>
            <a href="#">Acerca de</a>
            <a href="#">Contacto</a>
            <form action="../../logout.php" method="post">
                <button type="submit">Cerrar Sesión</button>
            </form>
        </div>
    </div>

    <!--RESTAURANTE-->
    <h1>Mesas Disponibles</h1>
    <div class="mesas">
        <?php include 'mesas.php'; ?>
    </div>
    <h2>Reservar Mesa</h2>
    <form action="reservar.php" method="post">
        <label for="numero_mesa">Número de Mesa:</label>
        <input type="number" id="numero_mesa" name="numero_mesa" required>
        <button type="submit">Reservar</button>
    </form>
    <h2>Desocupar Mesa</h2>
    <form action="desocupar.php" method="post">
        <label for="id_desocupar">Número de Mesa a Desocupar:</label>
        <input type="number" id="id_desocupar" name="id" required> <!-- Corregido el atributo name -->
        <button type="submit">Desocupar</button>
    </form>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script.js"></script>
</body>

</html>